.top-buffer {
    margin-top: 30px;
}

.name {
    margin: 10px 0 10px 0px;
}

ul.nav li a, ul.nav li a:visited {
    color: #111;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #444;
}

ul.nav li.active a {
    color: #111
}
